<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HeuristicLab.PluginInfrastructure.GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HeuristicLab.PluginInfrastructure.GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HeuristicLab.PluginInfrastructure.GUI.Properties.Settings>
            <setting name="PluginSources" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>http://update.heuristiclab.com/hl-nextgen/</string>
                    </ArrayOfString>
                </value>
            </setting>
        </HeuristicLab.PluginInfrastructure.GUI.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <HeuristicLab.PluginInfrastructure.GUI.Properties.Settings>
            <setting name="CacheDir" serializeAs="String">
                <value>plugins\cache</value>
            </setting>
            <setting name="BackupDir" serializeAs="String">
                <value>plugins\backup</value>
            </setting>
            <setting name="TempDir" serializeAs="String">
                <value>plugins\temp</value>
            </setting>
        </HeuristicLab.PluginInfrastructure.GUI.Properties.Settings>
    </applicationSettings>
</configuration>