<?xml version="1.0"?>
<configuration>        
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="HeuristicLabListener"
          type="System.Diagnostics.TextWriterTraceListener"
          initializeData="HeuristicLab.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <configSections>    
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HeuristicLab.Tracing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <HeuristicLab.Tracing.Properties.Settings>
    
    </HeuristicLab.Tracing.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
