<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="LargeMessages" openTimeout="00:00:30" receiveTimeout="00:00:30" sendTimeout="00:00:30" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" protectionLevel="EncryptAndSign"/>            
          </security>
          <readerQuotas maxArrayLength="2147483647"/>
          <reliableSession inactivityTimeout="00:00:30" enabled="false"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <client/>
    <behaviors>
      <serviceBehaviors>
        <behavior name="OKBServiceBehaviour">
          <serviceMetadata httpGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="OKBServiceBehaviour" name="HeuristicLab.OKB.RunnerService">
        <endpoint address="net.tcp://localhost:8001/OKB/Runner.svc/mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
        <endpoint address="net.tcp://localhost:8001/OKB/Runner.svc" binding="netTcpBinding" bindingConfiguration="LargeMessages" contract="HeuristicLab.OKB.IRunnerService">
          <identity>
            <dns value="HEAL"/>
          </identity>
        </endpoint>
      </service>
      <service behaviorConfiguration="OKBServiceBehaviour" name="HeuristicLab.OKB.AdminService">
        <endpoint address="net.tcp://localhost:8001/OKB/Admin.svc/mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
        <endpoint address="net.tcp://localhost:8001/OKB/Admin.svc" binding="netTcpBinding" bindingConfiguration="LargeMessages" contract="HeuristicLab.OKB.IAdminService"/>
      </service>
      <service behaviorConfiguration="OKBServiceBehaviour" name="HeuristicLab.OKB.TableService">
        <endpoint address="net.tcp://localhost:8001/OKB/Table.svc/mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
        <endpoint address="net.tcp://localhost:8001/OKB/Table.svc" binding="netTcpBinding" bindingConfiguration="LargeMessages" contract="HeuristicLab.OKB.ITableService">
          <identity>
            <dns value="HEAL"/>
          </identity>
        </endpoint>
      </service>
      <service behaviorConfiguration="OKBServiceBehaviour" name="HeuristicLab.OKB.QueryService">
        <endpoint address="net.tcp://localhost:8001/OKB/Query.svc/mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
        <endpoint address="net.tcp://localhost:8001/OKB/Query.svc" binding="netTcpBinding" bindingConfiguration="LargeMessages" contract="HeuristicLab.OKB.IQueryService">
          <identity>
            <dns value="HEAL"/>
          </identity>
        </endpoint>
      </service>
      <service behaviorConfiguration="OKBServiceBehaviour" name="HeuristicLab.OKB.DataService">
        <endpoint address="net.tcp://localhost:8001/OKB/Data.svc/mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
        <endpoint address="net.tcp://localhost:8001/OKB/Data.svc" binding="netTcpBinding" bindingConfiguration="LargeMessages" contract="HeuristicLab.OKB.IDataService">
          <identity>
            <dns value="HEAL"/>
          </identity>
        </endpoint>
      </service>
    </services>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
