<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
    </sectionGroup>
  </configSections>
  <spring>

    <context>
      <resource uri="config://spring/objects"/>
    </context>

    <objects xmlns="http://www.springframework.net"
         xmlns:aop="http://www.springframework.net/aop">
      <object id="calculator" singleton="false"
              type="HeuristicLab.Hive.Server.Core.ClientFacade, HeuristicLab.Hive.Server.Core-3.2" />

      <object id="serviceOperation" type="Spring.Aop.Support.SdkRegularExpressionMethodPointcut, Spring.Aop">
        <property name="patterns">
          <list>
            <value>HeuristicLab.Hive.Server.Core.ClientFacade.*</value>            
          </list>
        </property>
      </object>

      <object id="sci" type="HeuristicLab.Hive.Server.ServiceCallInterception, HeuristicLab.Hive.Server-3.2" />

      <aop:config>
        <aop:advisor pointcut-ref="serviceOperation" advice-ref="sci"/>
      </aop:config>
    </objects>


  </spring>
</configuration>