<div class="default-view-container">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Responsible for Contents and Editing of Pages</h3>
                </div>
                <div class="panel-body">
                    <p>
                        Heuristic and Evolutionary Algorithms Laboratory (HEAL)<br />
                        School of Informatics, Communications and Media<br />
                        University of Applied Sciences Upper Austria<br />
                        Softwarepark 11<br />
                        A-4232 Hagenberg, Austria<br />
                        (media owner and editor for the purposes of the Austrian Media Act)<br />
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Contact</h3>
                </div>
                <div class="panel-body">
                    <p><strong>Support and Inquiries</strong>: ​<a href="mailto:#">support@heuristiclab.com</a></p>
                    <p><strong>Heuristic and Evolutionary Algorithms Laboratory (HEAL)</strong>: <a href="​http://heal.heuristiclab.com">​http://heal.heuristiclab.com</a></p>
                    <p>
                        <strong>Head of HeuristicLab</strong>:<br />
                        FH-Prof. DI Dr. Stefan Wagner<br />
                        Phone: +43 50804 22030<br />
                        Fax: +43 50804 21599<br />
                        E-mail: <a href="mailto:#">stefan.wagner@heuristiclab.com</a><br />
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Disclaimer of Liability and Endorsement</h3>
                </div>
                <div class="panel-body">
                    <p style="text-align:justify">HeuristicLab is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details (http://www.gnu.org/licenses). All contents on the development homepage and wiki of the HeuristicLab have been compiled carefully. Still, the Heuristic and Evolutionary Algorithms Laboratory (HEAL) makes no guarantees of accuracy, completeness and timeliness of the information on this website. Therefore HEAL accepts no responsibility or liability for damages or losses resulting from the use of this website and/or the software.</p>
                </div>
            </div>
        </div>
    </div>
</div>