<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ProblemInstancesLargeMessages">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IQAP" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="16777216" maxBufferPoolSize="524288" maxReceivedMessageSize="16777216"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="512" maxStringContentLength="1048576" maxArrayLength="1048576"
              maxBytesPerRead="8192" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://services.heuristiclab.com/ProblemInstances-3.3/QAP/QAP.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQAP"
          behaviorConfiguration="ProblemInstancesLargeMessages"
          contract="QAPInstanceService.IQAP" name="BasicHttpBinding_IQAP" />
    </client>
  </system.serviceModel>
</configuration>