<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HeuristicLab.Hive.Server.ADODataAccess.Properties.Settings.HiveServerConnectionString"
            connectionString="Data Source=10.22.20.84;Initial Catalog=HiveServerTesting;Persist Security Info=True;User ID=hive;Password=hive"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>