<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HeuristicLab.Security.ADODataAccess_3._2.Properties.Settings.HeuristicLab_SecurityConnectionString"
            connectionString="Data Source=10.20.71.10;Initial Catalog=HeuristicLab.Security;Persist Security Info=True;User ID=hive;Password=hive"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>