<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>      
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HeuristicLab.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />          
        </sectionGroup>
    </configSections>
  <connectionStrings>
  </connectionStrings>
  <system.serviceModel>
  </system.serviceModel>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite"
           description=".Net Framework Data Provider for SQLite"           
           type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <applicationSettings>
    <HeuristicLab.Properties.Settings>
      <setting name="User" serializeAs="String">
        <value>unknown</value>
      </setting>
      <setting name="Organization" serializeAs="String">
        <value>unknown</value>
      </setting>
    </HeuristicLab.Properties.Settings>
  </applicationSettings>
  
</configuration>