<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HeuristicLab.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />          
        </sectionGroup>
    </configSections>
  <connectionStrings>
  </connectionStrings>
  <system.serviceModel>
  </system.serviceModel>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite"
           description=".Net Framework Data Provider for SQLite"           
           type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <applicationSettings>
    <HeuristicLab.Properties.Settings>
      <setting name="User" serializeAs="String">
        <value>unknown</value>
      </setting>
      <setting name="Organization" serializeAs="String">
        <value>unknown</value>
      </setting>
    </HeuristicLab.Properties.Settings>
  </applicationSettings>
  <spring>

    <context>
      <resource uri="config://spring/objects"/>
    </context>

    <objects xmlns="http://www.springframework.net"
         xmlns:aop="http://www.springframework.net/aop">
      <object id="clientFacade" singleton="false"
              type="HeuristicLab.Hive.Server.Core.ClientFacade, HeuristicLab.Hive.Server.Core-3.2" />

      <object id="executionEngineFacade" singleton="false"
              type="HeuristicLab.Hive.Server.Core.ExecutionEngineFacade, HeuristicLab.Hive.Server.Core-3.2" />

      <object id="serverConsoleFacade" singleton="false"
              type="HeuristicLab.Hive.Server.Core.ServerConsoleFacade, HeuristicLab.Hive.Server.Core-3.2" />

      <object id="serviceOperation" type="Spring.Aop.Support.SdkRegularExpressionMethodPointcut, Spring.Aop">
        <property name="patterns">
          <list>
            <value>HeuristicLab.Hive.Server.Core.ClientFacade.*</value>
            <value>HeuristicLab.Hive.Server.Core.ExecutionEngineFacade.*</value>
            <value>HeuristicLab.Hive.Server.Core.ServerConsoleFacade.*</value>
          </list>
        </property>
      </object>

      <object id="sci" type="HeuristicLab.Hive.Server.ServiceCallInterception, HeuristicLab.Hive.Server-3.2" />

      <aop:config>
        <aop:advisor pointcut-ref="serviceOperation" advice-ref="sci"/>
      </aop:config>
    </objects>
  </spring>
</configuration>