<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HeuristicLab.Services.Deployment.DataAccess.Properties.Settings.HeuristicLab_PluginStoreConnectionString"
            connectionString="Server=SERVICES;Database=HeuristicLab.Deployment;Integrated Security=SSPI"
            providerName="" />
    </connectionStrings>
</configuration>